{% load static%}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Die unterschiedliche Datensätze</title>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><h1 style="color:red">Comline</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


  </div>
</nav>
    <title>Upload</title>

<body>
<form action="" style="position:absolute; left:100px; top:150px;" method="POST" class="ui form" enctype="multipart/form-data">
                {% csrf_token%}

    {% bootstrap_form form %}
    <div>
        {% buttons %}
           <button style="position:absolute; left:0px; top:100px;" type="submit" class="ui button primary">Confirm</button>
        {% endbuttons %}
    </div>

</form>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <footer id="footer" style="bottom: 0px;
position: absolute;
background-color: whitesmoke;width: 100%">
      <div style=" left:20px; top:50px;">
          <a href="https://www.comline.de/"><h1 style="color:red" >Comline AG</h1></a> <br>
     <h4><p >Anschrift</p></h4>
          < h6>Comline AG</h6>
      <h6>Hauert 8</h6>
      <h6>44227 Dortmund</h6>
      </div>

</footer>
  </body>
</html>